[DEFAULT]
SESAME_SERVER = http://115.146.93.47/openrdf-sesame/repositories/bigasc_native
BLAZEGRAPH_SERVER = http://10.46.32.113:9999/blazegraph/namespace/bigasc/sparql

# DATA_DIR is the location of the primary data (site directories)
DATA_DIR = /var/fileserver/bigasc/data/real/

# OUTPUT_DIR is the location of the generated data 
OUTPUT_DIR = /var/syndisk/published/

# GRAPH_DIR is the location to write out metadata graphs, relative to OUTPUT_DIR 
GRAPH_DIR = metadata

# set PARTICIPANT_DETAIL to: 
#  FULL - to include all properties
#  TRIM - to exclude most 'private' details
#  MINIMAL - to include only bare minimum properties
PARTICIPANT_DETAIL = MINIMAL


# determines the output format used for RDF graphs
#   turtle is readable but slow
#   nt is fast but hard to read
RDF_GRAPH_FORMAT = nt

 
# MAUS config

MAUS_URL = http://clarin.phonetik.uni-muenchen.de/BASWebServices/services/runMAUS
MAUS_LOCAL = yes
MAUS_PROGRAM = /home/steve/MAUS/maus

# VERSIONSELECT_URL is the location to download the dump of versionselect data
#VERSIONSELECT_URL = http://localhost:8000/dump/
VERSIONSELECT_URL = http://versionselect.stevecassidy.net/dump/

# VERSIONSELECT_CACHE is the local cache of this data
VERSIONSELECT_CACHE = versionselect.json


# BATCH_UPLOAD_RDF and BATCH_UPLOAD_SIZE control how we send data to sesame
# if yes then we send in batches of a given number of files
# if no we send one file at a time
BATCH_UPLOAD_RDF = yes
BATCH_UPLOAD_SIZE = 1000